@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#111111] text-gray-200 antialiased font-sans;
  }
}

/* Medium.com style article typography */
.prose {
  color: #374151;
  max-width: 65ch;
}
.prose h1 {
  color: #111827;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.prose h2 {
  color: #111827;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.prose h3 {
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-size: 1.125rem;
  line-height: 1.8;
}
.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
  list-style-type: disc;
}
.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
